
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

html{
    scroll-behavior: smooth;
}
body{
    overflow-x:hidden;
    font-family:'Montserrat', sans-serif;
    
}
/* New Css for projects */
p{
    font-family:'Montserrat', sans-serif;
    font-size:18px;
    font-weight: 400;
    
}
ul,li{ font-family:'Montserrat', sans-serif;
    font-size:18px;
    font-weight: 400;
}

img{
    border-radius: 8px;
    width:100%;
}

.strong{
    font-weight:600;
    background-color: #fdbd6b;
    color:#222;
}

.strong_dehighlight{
    font-weight:600;
    
}

.project_body_black{
    background-color: #222;
    
}

.project_container{
    width:60%;
    padding-top:100px;
    padding-bottom:50px;
    margin:0 20%;
    
}

.black{
    color:white;
    
}

#projectdetail{
    width:100%;
    background-color: #222;
    color:#fff;
    
}

.small-titles{
    font-family: anton;
    font-size: 28px;
    text-transform: capitalize;
}

.caption{
    font-size:12px;
    font-style:italic;
    text-align: justify;
    padding:10px 0px;
}

.center_custom{
    margin-left:50%;
    transform: translateX(-50%);
}

#insta > a{
    
    overflow:hidden;
    width:30vw;
    height:30vw;
    padding:5px;
    
}

#insta > a > img{

    object-fit: cover;
    margin-bottom:10px;
}

.mycard{
    padding:20px;
    height:140px;
    margin: 30px 0px;
    background-color:#222;
    box-shadow: 10px 10px 30px rgba(0,0,0,0.5) , -10px -10px 30px rgba(256,256,256,0.05);
}

.mycard > p{
    font-size:14px;
    
    font-weight: 500;
}
.mycard_white{
    padding:20px;
    height:140px;
    margin: 30px 0px;    
    box-shadow: 10px 10px 60px rgba(0,0,256,0.05) , -10px -10px 60px rgba(0,0,256,0.05);
}
.mycard_white > p{
    font-size:12px;
}

.mycard_white > h5 {
    font-family : anton;
    color: #8626C3;
    font-size: 18px;
}

.nav_in_button{
    width:100px;
    border-radius:50px;
    background-color: white;
    height:auto;
    padding:5px;
    border:2px solid #222;
    background-position: center;
    transition: 0.3s ease;
    z-index:998 !important;
    cursor: pointer;
    
    
}


/* added on 12th June 2020 */
.nav_in{
    display: none;
    text-decoration: none;
    color: white;
    list-style: none;
    padding: 0px;
    z-index:998 !important;
    
}

.nav_in_display{
    display: block;
    text-decoration: none;
    color: white;
    list-style: none;
    padding: 0px;
    
}

.tag > a{
    color:white;
}
.tag > a:hover{
    color:white;
    text-decoration: none;
    
}

.medium-card {
  overflow: hidden;
}

.medium-card a{
    padding:24px;
    background-color:#2b2b2b;
    border-radius:8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);

.medium-card img {
  width: 180px;
  height: auto;
  display: inline
}

.medium-card-content {
  display: inline-block
}

.medium-card-content h3 {
  font-size: 1.5rem;
  line-height: 1.2;
  font-color:#fff;
  text-decoration:none;
}

.medium-card-content p {
  margin: 0;
  font-size: 16px;
  line-height: 1.5;
  color: #fff;
  text-decoration:none;
}





/*=======New CSS for Project 1=====*/

.titles{
    font-family:anton;
    font-size:42px;
}
video{
    width:100%;
    height:auto;
}

#video_embbed{
    display: none;
}
#lw_image{
    display:block;
}

.vid_skip{
    width:100%;
    padding:0;
    
}

.vid_skip > li{
    text-decoration: underline;
    display: inline-block;
    cursor: pointer;
    padding:5px;
    color:red;    
}
/* Project 1 new add end */

.slideanim {visibility:hidden;}

.slide {
  /* The name of the animation */
  animation-name: slide;
  -webkit-animation-name: slide;
  /* The duration of the animation */
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
  /* Make the element visible */
  visibility: visible;
}

/* Go from 0% to 100% opacity (see-through) and specify the percentage from when to slide in the element along the Y-axis */
@keyframes slide {
  0% {
    opacity: 0;
    transform: translateY(70%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
@-webkit-keyframes slide {
  0% {
    opacity: 0;
    -webkit-transform: translateY(70%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0%);
  }
}


a {
    color: #222;
    width:auto;
    height:auto;
    position: relative;
    padding-bottom: 5px; 
    text-decoration-style: wavy;
    
    
}

a:hover{
    text-decoration: none;
}

a:active{
    color:red;
}

img{
    width:inherit;
    height:inherit;
}



.button{
    width:150px;
    height:auto;
    padding:10px;
    border:2px solid #222;
    border-radius: 5px;
    background: none;
    background-position: center;
    transition: 0.3s ease;
    
    
}

.button:hover{
   
        background-color:#222222;
        color:white;
        transform: translate3d();
    
}
.button-white{
    width:auto;
    height:auto;
    color:white;
    padding:10px;
    border:2px solid #fff;
    border-radius: 5px;
    background: none;
    background-position: center;
    transition: 0.3s ease;    
}

.button-white:hover{
   
        background-color:#fff;
        color:#222;    
}




.navbar{
    position:fixed;
    top:0;
    width:100%;
    z-index:999;
    background-color:#ffffff;
}

.floatingNav {
  width: 100%; 
  border-radius: 2px;
  box-shadow: 0px 1px 10px #222;

}

.floatingNavBlack {
  width: 100%; 
  border-radius: 2px;
  box-shadow: 0px 1px 10px #222;
background-color: #222;    

}

#nav-content{
    
    width: 100%;
    height:40px;
    padding-left:5%;
    padding-right:5%;
    
}

#logo>a>img{
    height:30px;
    width: 30px;
    display: inline-block;
}

#logo{
    display: inline-block;
}

#links{
    float:right;
    text-align: center;
    display: inline-block;
   
}

#links>ul {
    
    list-style: none;
    color: aliceblue;
    padding: 0;
    width:auto;
}

#links > ul > a {
    color: #222;
    width:auto;
    height:auto;
    text-align: center;
    position: relative;
    padding-bottom: 5px;
    margin: 0 15px;    
    font-weight:600;
    
}

#links > ul > a > li{
       
    padding: 4px;
    font-size: 1em;
    display: inline-block;
    padding: 5px;
    }

#links > ul >a:after{
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    margin-top: 2px;
    height: 3px;
    left: 50%;
    position: absolute;
    background: #b0292f;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

#links > ul >a:hover:after{
    width: 100%; 
    left: 0;   
}





#banner{
    height:100vh;
    position: relative;
    overflow: hidden;
    width:90%;
    max-width: none;
    
}

#description{
    
    height:auto;
    display: inline-block; 
    position: relative;
    top:50%;
    transform: translateY(-50%);
    padding-right:10px;
    
    
}

.role_duration{
    padding:2%;
}

.role_duration > h5{
    font-weight:600;
}

#project_logo{
    height:50px;
    width:auto;
}

#cover-image{
    height:100vh;  
    background-image: url(img/IMG_3928.png);
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    display: inline-block;
    float: right;
    position: relative;
    margin-bottom:0px;
    top:25%;
    z-index: 1;
    overflow:hidden;
    position: absolute;
    bottom:0;
    right:10px;
}

#cover-image > img{
    height:auto;
    width: 100%;
    position:relative;
    top:15%;
    z-index:1;
}






#work{
    -webkit-box-shadow: 0px 9px 34px 0px rgba(150,150,150,0.1);
    -moz-box-shadow: 0px 9px 34px 0px rgba(150,150,150,0.1);
    padding-top: 70px;  
    padding-left:3%;
    padding-right:3%;
    padding-bottom: 70px;
    height:auto;
    z-index: 5;
    background-color: #222;
    
    
    
    
}

#filters{
    width:auto;
    display:table;
    
    
    
}

#filters > ul {
    list-style: none;
    display: table-cell;
        
    
    
    
    
    
}

.tag{
    border: 2px solid #fff;
    border-radius: 30px;
    padding:5px 20px;
    background-color:#222 !important;
    color:white;
    font-size:14px;
    margin-bottom: 10px;

}

.tag:hover {
    box-shadow: 4px 4px 10px rgba(0,0,0,0.2);
    transform: scale(1.1);
    transition: 0.4s ease;
    background: #222 !important;
    color:#222;    
}

.ps{
    position: relative;
    top:50%;
    transform: translateY(-50%);
    transform: rotate(-90deg);
    visibility: hidden;
    
    
    
}

.ps-fixed{
    visibility: visible;
    position: fixed;
    top:50%;
    transform: translateY(-50%);
    transform: rotate(-90deg);
    
    left:2px;
    z-index:1
}







#projects{
    height: auto;
    width:100%;
    margin-left:50%;
    transform: translateX(-50%);
    
    
    
}

.projectDisplay{
    height:auto;
    padding:50px;    
}


/*====== new addition =====*/
.flex_work{
    width:100%;
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
        
    
}

.pd_new{
    width:auto;
    overflow: hidden;
    display: inline-block;   
    height:auto;      
    
    background: #333;
    border-radius: 15px;
    box-shadow: 0px 9px 34px 0px rgba(0,0,0,0.9); 
}

.pd_new > a > img{
    width:220px;
    height:auto;
}
.project{
    display: inline-block;
    margin:30px;
}

.project > a{
    width:auto;
}

.project:hover{
    transform: scale(1.05);
    transition-timing-function: ease-in-out;
}

.carousel_project{
    width:100%;
    margin:0 auto;
    
}
/* new addition end */



#projectsRow{
    width:auto;
    height:auto;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left:5%;
    transform: translateX(-50%);    
    overflow: hidden;
    
    
}

.projectLine{
    border:5px solid white;
    display: none;
}





#p_thumbnail{
    height:60%;
    width:100%;
    overflow: hidden;
    
}

#p_thumbnail>img{
    
    
    width: 100%;
    margin-left: 50%;
    transform:translateX(-50%);
}

#p_description{
    margin-top:27%;
    transform:translateY(-50%);
    color:#fff;
    
}

#projectview{
    border:1px solid #b0292f;
    background:none;
    color:#b0292f;
    padding:5px 10px;
    border-radius: 5px;
    text-decoration: none;
}

#projectview:hover{
    background-color:#b0292f;
    color:#fff;
}



#projectsRow::-webkit-scrollbar { width: 0 !important }
#projectsRow{ overflow: -moz-scrollbars-none; }
#projectsRow{ -ms-overflow-style: none; }

#otherworks{
    padding: 10%;
    height:10%
}

.projlink:hover{
    transform:scale(1.1);
    transition: 0.2s ease-in-out;
}

#contact{
    
    
    background-position: center;
    height:auto;
    padding-top:50px;
}

#contact > p{
    margin-bottom: 5px;
}


#social-media{
    margin-left:50%;
    transform: translateX(-50%);
    
    
    
}

#social-media > a{
        width:50px;
    border: 2px solid #222;
    height:50px;
    padding: 13px;
    border-radius: 40px;
    margin: 0px;
    transform: scale(0.7);
    color:#222;
    display: inline-block;
    
    
    
   
    
   
    
    
}

 #social-media>a:hover{
        background-color: #222;
        color:white;
    }

.fab{
    padding: 0 auto;
  font-size: 20px;  
  text-align: center;
  text-decoration: none; 
    
    
}





@media(max-width:780px){
    /* new css for projects  2 June 20 */  
    .titles{
        font-size:32px;
        line-height: normal;
        
    }
    p{
        font-size:16px !important;
        text-align: justify;
    }
    
    .project_container{
    width:90%;
    padding-top:100px;
    padding-bottom:50px;
    margin:0 5%;
    
}
    
/* ====*/
    #cover-image{
        height:40%;
        width:100%;
        background-position: bottom;
        bottom:0%;
        top:50%;
        display: none;
    }
    
   #description > p{
       font-size:16px !important;
    }
    .role_duration > p{
    font-size:16px !important;
}
    
    .navbar{
        height:auto;
    }
    
 #links > ul > a {
    color: #222;
    width:auto;
    height:auto;
    text-align: center;
    position: relative;
    padding-bottom: 5px;
    margin: 0 5px;    
    font-weight:600;
    font-size: 14px;
    
}
    
    #banner{
    height:90vh;
    position: relative;
    overflow: hidden;
    width:100vw !important;
    max-width: none;
}
    
    .role_duration{
    padding:4%;
}
    
    #projects{
        padding:2px;
            width:100%;
    }
    .projectDisplay{
    height:auto;
    padding:10px;    
    margin-bottom:0px;    
}
    
    
    
    
    #p_thumbnail{
        
        position:relative;
        float: left;
    }
    #p_description{
        
        position:relative;
        margin-top:150px;
        
    }
    #p_description > h3 {
        font-size: 30px;
        text-align: justify;
    }
    
    #p_description > p{
        text-align:justify;
    }
    
    #p_description > a{
        float:left;
        width:50%;
        text-align:center;
    }
    
    #projectsRow{
        width:100%;
        margin-top:10px;
        
    }
    
      
    .ps{
    position: relative;
    top:8%;    
    left:50%;
    transform: translateX(-50%);
    visibility: hidden;
}

.ps-fixed{
    display: none;
    position: fixed;
    top:10%;
    left:50%;
    transform: translateX(-50%);
    
}
    
}

